{% extends "bootstrap/base.html" %}

{% block content %}


<html>
  <head>
    <title>About Our School</title>
  </head>
  <body>
   <h1 class="text-center my-5" style="color:blue;">About Our School! </h1>

   
   	<h2> Hutch Tech was founded in September of 1904. We are a technical high school that helps students begin their career in technology. If interested, please register for a class to be put into a wait list. </h2> 
   <img src= "/static/logo.png" >
   <br>
   <br>
    <ul>
      <li><button><a href="classregistration">Classrooms Registration</a></li>
      <li><button><a href="classinfo">Classrooms Information</a></li>
    </ul>
  <h4> <button> <a href="/">Main Page</a> </h4>
  {% endblock %}
  </body>
</html>
